body {
  text-align: center;
  background-color: black;
}
#nav-bar {
  background-color: white;
}
.logo {
  padding-left: 10px;
}
.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 15px 60px;
  gap: 60px;
}
li {
  font-size: 20px;
  text-transform: uppercase;
}
#nav-box {
  display: flex;
  justify-content: space-between;
}
header {
  background-image: url("media/laptop.jpg");
  background-position: top center;

  background-size: 1200px 720px;
  color: white;
  padding: 150px 0px 250px 0px;
}

#about-me {
  margin-top: 150px;
  background-color: black;
  color: white;
}
.my-websites {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 10%;
  gap: 0px;
}
#skills {
  margin-top: 150px;
}
.skills-container {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
#skills-header {
  font-size: 40px;
  padding-top: 20px;
  color: white;
}
.icons-box {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
